body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  header {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    width: 150px; 
  }

  nav {
    display: flex;
    background-color: #fff; 
    padding: 10px;
  }

  nav a {
    color: #333; 
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav a:hover {
    background-color: #ff0000;
    color: #fff;
  }
   /* Estilos para el banner */
   .banner {
    text-align: center;
    padding: 20px;
  }

  .banner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 105%;
}

label {
    display: block;
    margin: 15px 0 5px 0;
    font-weight: bold;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #db3434;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b92929;
}